				<ul class="clear" id="menu-primary">
					<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-52 current_page_item menu-item-70" id="menu-item-70">
						<a href="what-we-offer.html">What We Offer</a>
					</li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69" id="menu-item-69">
						<a href="how-we-deliver.html">How We Deliver</a>
					</li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-98" id="menu-item-98">
						<a href="who-we-serve.html">Who We Serve</a>
					</li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-68" id="menu-item-68">
						<a href="about-us.html">About Us</a>
					</li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-68" id="menu-item-68">
						<a href="faq.html">FAQ</a>
					</li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-68" id="menu-item-68">
						<a href="marketing-material.html">Marketing Material</a>
					</li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-68" id="menu-item-68">
						<a href="press.html">Press</a>
					</li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39" id="menu-item-39">
						<a href="contact-us.html">Contact Us</a>
					</li>
					
						<a href="blog.html">Blog</a>
					</li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-68" id="menu-item-68">
				</ul>